DirectoryIndex index.html index.php
Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^(admin|api|assets|panel|templates|uploads|uyelik)(/.*)?$ - [L]

  RewriteRule . /index.html [L]
</IfModule>

ErrorDocument 404 /404.html
